# Python virtual environment
venv/
source/

# Python cache
__pycache__/
*.py[cod]

# OS metadata
.DS_Store

# VS Code settings (optional, useful for consistency)
.vscode/


# Local development config
.env
*.log
